<div class="container">
    <div class="row">
        {{#each books}}
        <div class="col s4" style="margin-left: unset;">
            <div class="card">
                <div class="card-image">
                    <img src="{{img}}">
                    <span class="card-title">{{title}}</span>
                </div>
                <div class="card-content">
                    <p>{{price}}</p>
                </div>
                <div class="card-action">
                    <a href="/books/view/{{id}}">View the book</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="container">
    <div class="row" style="text-align: center; justify-content: center;">
        <a class="waves-effect waves-light btn" href="/books/add/book">Create book <span>+</span></a>
    </div>
</div>